<ion-view view-title="Sterowanie lampkO">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pociung coby uodświzyć..."
      on-refresh="loadData()">
    </ion-refresher>
    <ion-input>
      <label class="item item-input">
        <span class="input-label">Czas wyłączenia [min]</span>
        <input type="number" ng-model="waittime">
      </label>
    </ion-input>
    <button class="button button-full button-balanced" ng-click="setTime(waittime)">
      Zapisz
    </button>

    <ion-list>
      <ion-radio ng-repeat="state in states" ng-value="state.value" ng-model="selection.currentState" name="currentState">{{state.name}}</ion-radio>
    </ion-list>
    <button class="button button-full button-balanced" ng-click="setState(selection.currentState)">
      Wybierz
    </button>
  </ion-content>
</ion-view>
